
/* Euclid Font import */
@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/euclid_circular_a/Euclid Circular A Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/euclid_circular_a/Euclid Circular A Medium.ttf');
  font-weight: 600;
}


@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/euclid_circular_a/Euclid Circular A SemiBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/euclid_circular_a/Euclid Circular A Bold.ttf');
  font-weight: 800;
}

a {
  font-weight: 500;
  color: #646cff;
  background: #d3d3d3;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
html{
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Euclid !important;
}